
@{
    ViewBag.Title = "Izmena";
}
<head>
    <style>

        #div1 {
            background-color: darkgray;
            height: 58px;
            width: 100%;
        }

        #but {
            width: 100%;
            font-size: 20px;
            text-align: center;
            color: white;
            padding: 9px 9px 9px 9px;
            border: 1px solid white;
            background-color: cornflowerblue;
            cursor: pointer;
        }

        #buth {
            width: 100px;
            font-size: 20px;
            text-align: center;
            color: white;
            margin-top: 7px;
            margin-left: 5px;
            padding: 9px 9px 9px 9px;
            border: 1px solid white;
            background-color: cornflowerblue;
            cursor: pointer;
        }

        table {
            border: solid 1px white;
            border-collapse: collapse;
            font-size: 16px;
            font-family: sans-serif;
            width: 100%
        }

        thead th {
            background-color: #009879;
            border: solid 1px white;
            color: white;
            padding: 10px;
            text-align: left;
        }

        tbody td {
            border: solid 1px white;
            color: black;
            padding: 10px;
        }

        form {
        }

        input[type=text], input[type=password], input[type=date], select, input[type=number], input[type=datetime-local] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }
    </style>
</head>


<h2 style="text-align:center">Izmenite trening</h2>
<br />
<br />
<hr>
<br />
<br />

<div style="border: 1px solid #009879; padding:9px 9px 9px 9px">
    <form action="~/Trener/Izmenjen">

        <label for="naziv">Naziv:</label>
        <input type="text" name="naziv" id="naziv" value="@ViewBag.trening.Naziv" required />

        <label for="tip">Tip:</label>
        <input type="text" name="tip" id="tip" value="@ViewBag.trening.Tip" required />

        <input type="hidden" name="fcentar" id="fcentar" value="@ViewBag.trening.FCentar" required />

        <label for="trajanje">Trajanje:</label>
        <input type="number" name="trajanje" id="trajanje" value="@ViewBag.trening.TrajanjeTreninga" required />

        <label for="datumvreme">Datum i vreme:</label>
        <input type="datetime-local" name="datumvreme" id="datumvreme" required />

        <label for="kapacitet">Kapacitet:</label>
        <input type="number" name="kapacitet" id="kapacitet" value="ViewBag.trening.Kapacitet" required />

        <input type="hidden" name="isdeleted" value="Flase" />
        <input type="hidden" name="id" value="@ViewBag.trening.Id" />

        <input type="submit" id="but" value="Izmeni trening" />

    </form>


</div>
