
@{
    ViewBag.Title = "Detalji";
}

@{
    var a = @ViewBag.details;
}

<head>
    <style>

        #se {
            height:30px;
            width:90px;
            display:inline;
        }

        #komentar {
            width: 100%;
            height: 210px;
            border: 2px solid darkgray;
            font-family: sans-serif;
            font-size: 18px;
            padding: 0.4em;
            padding-bottom: 180px;
        }

        #but {
            width: 100%;
            font-size: 14px;
            text-align: center;
            color: white;
            padding: 5px 5px 5px 5px;
            border: 1px solid white;
            background-color: cornflowerblue;
            cursor: pointer;
        }

        hr {
            border: 1px solid black;
            margin-bottom: 25px;
        }

        .kom {
            white-space: nowrap;
            width: 100%;
            background-color: #ddd;
            border: 2px solid white;
        }

        h2 {
            font-family: sans-serif;
            text-align: center;
        }

        h3 {
            font-family: sans-serif;
        }

        p {
            font-size: 18px;
            font-family: sans-serif;
            margin-left: 5px;
        }

        #details {
            background-color: #ddd;
            border: 2px solid #009879;
            width: 100%;
        }

        table {
            border: solid 1px white;
            border-collapse: collapse;
            font-size: 16px;
            font-family: sans-serif;
            width: 100%
        }

        thead th {
            background-color: #009879;
            border: solid 1px white;
            color: white;
            padding: 10px;
            text-align: left;
        }

        tbody td {
            border: solid 1px white;
            color: black;
            padding: 10px;
        }

        summary {
            cursor: pointer;
        }
    </style>
    <script>
        
function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("tab");
    switching = true;

    dir = "asc";

    while (switching) {

        switching = false;
        rows = table.rows;

        for (i = 1; i < (rows.length - 1); i++) {

            shouldSwitch = false;

            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];

            if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

                    shouldSwitch = true;
                    break;
                }
            } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {

                    shouldSwitch = true;
                    break;
                }
            }
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            switchcount++;
        } else {
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
        }
    }
}
    </script>

</head>

<h2>Detalji o @a.Naziv fitnes centru</h2>

<div id="details">
    <p>Naziv: @a.Naziv</p>
    <p>Godina otvaranja :@a.GodinaOtvaranja</p>
    <p>Adresa: @a.Adresa.Ulica, @a.Adresa.Mesto, @a.Adresa.PostanskiBroj</p>
    <p>Vlasnik: @a.Posednik</p>
    <p>Mesecna cena: @a.CenaMesecno din</p>
    <p>Godisnja cena: @a.CenaGodisnje din</p>
    <p>Mesecna cena grupnog treninga: @a.CenaGrupno din</p>
    <p>Mesecna cena sa personalnim trenerom: @a.CenaSaTrenerom din</p>
    <p>Mesecna cena samostalno: @a.CenaSamostalno din</p>
</div>
<br />
<br />

<hr>

<h2>Predstojeci grupni treninzi</h2>

<br />
<br />


<div class="container">
    <table id="tab">
        <thead><tr><th onclick="sortTable(0)">Naziv</th><th>Tip</th><th>Trajanje</th><th>Datum i Vreme</th><th>Kapacitet</th><th>Trenutrno popunjeno</th><th>Prijava</th></tr></thead>
        <tbody>
            @foreach (var b in ViewBag.treninzi)
            {
                <tr>
                    <td>@b.Naziv</td>
                    <td>@b.Tip</td>
                    <td>@b.TrajanjeTreninga</td>
                    <td>@b.DatumVreme</td>
                    <td>@b.Kapacitet</td>
                    <td>@b.Spisak.Count</td>
                    <td><form action="~/Posetilac/TreningPrijava"><input type="hidden" name="id" value="@b.Id" /><input type="submit" id="but" value="Prijavi se" /></form></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<br />

<hr>
<br />
<br />


<form action="~/Posetilac/Komentar">
    <input type="text" name="tekst" id="komentar" placeholder="Ostavite Vas komentar." required />
    <br />
    <br />
    <label style="font-family:sans-serif; font-size:18px;">Ocena: </label><select id="se" name="ocena" placeholder="Vasa ocena" required>
        <option value="1">*</option>
        <option value="2">**</option>
        <option value="3">***</option>
        <option value="4">****</option>
        <option value="5">*****</option>
    </select>
    <br />
    <br />

    <input type="hidden" name="centar" value="@a.Id" />
    <input type="hidden" name="odobren" value="false" />
    <input type="submit" style="background-color:#009879;font-size:20px;" id="but" value="Objavi komentar" />

</form>
<br />

<h3>Komentari:</h3>
<br />
@foreach (var item in ViewBag.komentari)
{<div class="kom">
        <p style="margin-left:10px">Korisnik @item.Komentarisao je dao ocenu @item.Ocena! </p> <details style="margin-left:10px"><summary>Kliknite da vidite komentar</summary><p>@item.Tekst</p></details><br />
    </div>
}
